<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} hola [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO"><!-- https://logging.apache.org/log4j/2.x/manual/customloglevels.html -->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>